@model ProjectsControl.Models.Employee

@{
    ViewData["Title"] = $"Delete {Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar este registro</h1>

<h3>¿Está seguro que desea eliminar este registro?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Fecha de Contratación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateofHiring)
        </dd>
        <dt class = "col-sm-2">
            Posición
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary" >Volver Atrás</a>
    </form>
</div>
