@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmar usuario";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Activa el usuario: <a class="btn btn-info" id="confirm-link" href="@Model.EmailConfirmationUrl">Clic aqui para confirmar el usuario</a>
</p>
    }
    else
    {
    }
}

