@using Microsoft.AspNetCore.Identity;
@model IdentityUser

@{
    ViewData["Title"] = "Borrar Usuario ";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<h2>
    Modificacion de contraseña
</h2>



<p>
    Ingresa la nueva contraseña del usuario
</p>


<form>
    <input type="hidden" name="id" value="@Model.Id" />
    <table class="table table-sm">
        <tbody>
            <tr>
                <td>
                    Usuario
                </td>
                <td>
                    @Model.UserName
                </td>
            </tr>
            <tr>
                <td>
                    Nueva Contraseña
                </td>
                <td>
                    <input type="password" name="Password1" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    Confirme la contraseña
                </td>
                <td>
                    <input type="password" name="Password2" class="form-control" />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex flex-row">
        <input class="btn btn-sm btn-warning" type="submit"  value="Actualizar" asp-controller="Manage" asp-action="PostChangePassword"/>
        <button class="btn btn-sm btn-info">
            <a asp-controller="Manage" asp-action="ListOfUsers">
                Regresar
            </a>
        </button>
    </div>
</form>