@{
    ViewData["Title"] = "Creación de Usuarios";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<h1 >
    Creación de Usuario
</h1>

<p>
    Registro de nuevo usuario. Por favor ingrese la información solicitada.
</p>

<form>
    <div class="form-group">
        <label class="form-control">
            Nombre de Usuario
        </label>
    </div>
    
</form>