@{
    ViewData["Title"] = "Area de Administración";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}
<h2>
    Área de Administración
</h2>

<a asp-area="Admin" asp-controller="Manage" asp-action="Li">lista de usuario</a>
