@{
    ViewData["Title"] = "Area de Administración";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}
<h2>
    Área de Administración
</h2>


<div class="container">
    <div class="row gx-1 justify-content-center">

        <div class="col-md-6 border rounded ">
            <h5>
                Administracón Interna del sistema
            </h5>
            <p>
                Pagina para la administración de los usuarios y permisos existentes.
            </p>
            <ul>
                <li>
                    Creación de usuarios
                </li>
                <li>
                    Bloqueo de usuarios
                </li>                
                <li>
                    Permisos
                </li>                
            </ul>
        </div>

        <div class="col-md-6  border rounded ">
                                 
        </div>

    </div>
</div>
