@{
    ViewData["Title"] = "Area de Administración";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}
<h2>
    Área de Administración
</h2>



<aside>
    <ul>
        <li>
            <a  asp-area="admin" asp-controller="Manage" asp-action="ListOfUsers">
                Lista de Usuarios
            </a>
        </li>
        <li>
            <a>
                Agregar Nuevo Usuario
            </a>
        </li>
        <li>
            <a>
                Ver Roles Disponibles
            </a>
        </li>
    </ul>
</aside>