@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestión Proyectos Grupo Mecsa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body >
    <header>
        <!-- Nav Bar  -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow bg-info" >
            <div class="container">

                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <a class="navbar text-light" asp-area="Admin" asp-controller="Manage" asp-action="Index">Administración</a>
                        </li>                   
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cuentas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Manage" asp-action="ListOfUsers">Usuario Registrados</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Manage" asp-action="CreateUser">Agregar Usuario</a>
                            </div>
                        </li>     
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                General
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="">Inicio</a>
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Proyectos</a>
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Informes</a>                                                                
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Empleados</a>                                                                                                                                
                            </div>
                        </li>                             
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Información
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Roles</a>
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">General</a>
                            </div>                                           
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container  ">
        <main role="main" class="pb-3 d-xl-flex">           
            <section class="col">
                @RenderBody()                 
            </section>            
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Control de Proyectos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
