<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestión Proyectos Grupo Mecsa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<body style="   background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(72,123,186,1) 100%);">

    <header  class="text-dark" >
        <nav class="navbar border borderalert-dark rounded navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow bg-light text-dark opacity-75 ">
            <div class="container opacity-100">
             
                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <a class="navbar" asp-area="" asp-controller="Home" asp-action="Index">Control Proyectos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gestion Proyectos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="Search">Buscar Proyectos</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="Create">Crear Proyectos</a>
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="Search">Busqueda Informes</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="Create">Crear Informes</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="WithoutReports">Proyectos Sin Informes</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Personal y Asistencia
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Asistances" asp-action="Search">Buscar Asistencia</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Asistances" asp-action="Create">Registrar Asistencia</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Asistances" asp-action="DailyCreate">Asistencia Diaría</a>
                                <div class="dropdown-divider"></div>
                                <!--<a class="dropdown-item" asp-area="" asp-controller="ExtraHours" asp-action="Create">Registrar Extras</a>--> 
                                <a class="dropdown-item" asp-area="" asp-controller="ExtraHours" asp-action="Index">Pendientes de Pago</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ExtraHours" asp-action="Index">Historial</a>                               
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Actions" asp-action="Create">Crear Acción Personal</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Index">Lista de Empleados</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Create">Nuevo Empleado</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ventas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Customers" asp-action="Search">Buscar Cliente</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Customers" asp-action="Create">Crear Cliente</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Offers" asp-action="SearchOffer">Buscar Oferta</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Estadisticas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"  asp-controller="Chart" asp-action="Projects">Proyectos</a>
                                <a class="dropdown-item"  asp-controller="Stadistic" asp-action="Index">Asistencias</a>
                                <a class="dropdown-item"  asp-controller="Stadistic" asp-action="Ventas">Ventas</a>
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container mt-4 bg-light rounded border" style="border:1px solid gray;">
        <main role="main" class="pb-4 mb-2">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted text-dark bg-opacity-10" >
        <div class="container text-dark">
            &copy; 2021 - Control de Proyectos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js" type="module" ></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
