@{
    ViewData["Title"] = "Inicio";
}


<div class="row">
    <div class="col">
        <h1 class="display-4 text-center">Bienvenido</h1>  
        <p> Sistema de control interno para Grupo Mecsa, encargado de la gestión y el control de</p>
        <ul>
            <li>Proyectos</li>
            <li>Informes</li>
            <li>Asistencia</li>
            <li>Personal</li>
            <li>Bitacora de proyectos</li>
            <li>Gastos y facturacion de proyectos</li>
            <li>Tiempos extras</li>         
        </ul>
    </div>
    <div class="col text-center">
        <h2>Sito web en construccion</h2>
        <p>Este sitio web se encuentra en construccion. La aplicación actual es de prueba y evaluación. Cualquier cambio o sugerencia favor contactar al encargado de la construccion.</p>
        <hr />
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>







