@model ProjectsControl.Models.Action

@{
    ViewData["Title"] = "Creación Acción Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear</h1>

<h4>Action de Personal</h4>
<hr />
<div >
    <div >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Id de Referencia Interno</label>
                <input asp-for="ActionId" class="form-control" value="@Guid.NewGuid().ToString()"  readonly/>
                <span asp-validation-for="ActionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Titulo</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de Creación</label>
                <input asp-for="DateOfCreation" class="form-control" />
                <span asp-validation-for="DateOfCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Autor</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfAction" class="control-label">Tipo de Acción de Personal</label>               
                <select asp-for="TypeOfAction" class="form-control">
                    <option value="Nuevo Ingreso">Nuevo Ingreso</option>
                    <option value="Cambio de Puesto">Cambio de Puesto</option>
                    <option value="Vacaciones">Vacaciones</option>
                    <option value="Bonificacion">Bonificación</option>
                    <option value="Incremento de sueldo">Incremento de sueldo</option>
                    <option value="Otros">Otros</option>
                    <option value="Traslado">Traslado</option>
                    <option value="Incapacidad">Incapacidiad</option>
                    <option value="Permiso sin goce de Salario">Permiso sin goce de salario</option>
                    <option value="Permiso con goce de salario">Permiso con goce de salario</option>
                    <option value="Llamada de atención">Llamada de atención</option>
                    <option value="Suspención laboral">Suspención laboral</option>
                    <option value="Renuncia">Renuncia</option>
                    <option value="Descuento en planilla">Descuento en planilla</option>
                    <option value="Despido">Despido</option>
                </select>                
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descripción</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Empleado</label>
                <select asp-for="EmployeeId" class ="form-control">
                    @foreach (Employee i in ViewBag.Employees)
                    {
                        <option value="@i.EmployeeId">@i.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
