@model ProjectsControl.Models.Customer

@{
    ViewData["Title"] = "Crear Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear un nuevo cliente</h1>

<h4>Cliente</h4>
<hr />
<div >
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Id de Cliente</label>
                <input asp-for="CustomerId" class="form-control" value="@Guid.NewGuid().ToString()"  readonly />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Numero de cédula</label>
                <input asp-for="DNIOfCustomer" class="form-control"/>
                <span asp-validation-for="DNIOfCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sector</label>
                <input asp-for="Sector" class="form-control" />
                <span asp-validation-for="Sector" class="text-danger"></span>
            </div>
            <div class="d-flex flex-row ">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <div>
                    <a asp-action="Index"  class="btn btn-secondary">Volver Atrás</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
