@model ProjectsControl.Models.Customer

@{
    ViewData["Title"] = $"Eliminar {Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminación de Cliente</h1>

<h3>¿Deseas Eliminar este cliente?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Sector
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sector)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index"  class="btn btn-secondary">Volver Atrás</a>
    </form>
</div>
