@model ProjectsControl.Models.Expensive

@{
    ViewData["Title"] = "Crear Gasto de Proyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear</h1>

<h4>Gasto</h4>
<hr />

<div class="container">
    <div class="row align-items-start">
        <!-- FORM-->
        <div class="col">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="d-none">
                    <label class="control-label">Id Referencia Gasto</label>
                    <input asp-for="ExpensiveId" class="form-control" value="@Guid.NewGuid().ToString()" readonly />
                    <span asp-validation-for="ExpensiveId" class="text-danger"></span>
                </div>
                <div class="d-none">
                    <label class="control-label">Id de Referencia de Proyecto</label>
                    <input asp-for="ProjectId" class="form-control" value="@ViewBag.ProjectId" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label">Autor</label>
                    <input asp-for="Author" class="form-control" value="@User.Identity.Name" readonly />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Tipo</label>
                    <select asp-for="Type" class="form-control">
                        <option value="Kilometraje">Kilometraje</option>
                        <option value="Materiales Varios">Materiales Varios</option>
                        <option value="Materiales Mecsa">Materiales Mecsa</option>
                        <option value="Viaticos">Viaticos</option>
                        <option value="Gastos Administrativos">Gastos Administrativos</option>
                        <option value="Imprevistos">Otros (imprevistos)</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Monto</label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Moneda</label>
                    <select asp-for="Currency" class="form-control" >
                        <option value="Colón">Colón</option>
                        <option value="Dolar">Dolar</option>
                    </select>
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Notas</label>
                    <input asp-for="Note" class="form-control" />
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <!-- INFORMATION -->
        <div class="col-4 container m-2">
            <div class="col">
                <div class="row m-3">
                    <div class="card">
                        <div class="card-body">
                            Esta vista permite el registro de gastos asociados al proyecto. Es recomendable el ingreso de resumenes de gastos según la categoría. De esta forma se obtiene un resultado más simplificado.
                        </div>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="card">
                        <div class="card-body">
                            <b>Tipo:</b> indica el tipo de gasto que se encuentra registrado.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Projects" asp-action="Details" asp-route-id="@ViewBag.ProjectId" >Volver Atrás</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
