@model Asistance;

@{
    ViewData["Title"] = "Crear Tiempo Extra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear tiempo extra</h1>

<h4>Tiempo extra</h4>

@Model.Employee.Name
@Model.Week.WeekId