@model ProjectsControl.Models.Quotation

@{
    ViewData["Title"] = "Crear Cotización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear cotización</h1>

<h4>Cotización</h4>
<hr />
<p>Los precios registrados en los siguientes cuandros deben corresponder a precios en <b>dolares</b>.</p>

<div class="container py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form asp-action="Create">
                <div class="form-group row">
                    <div class="col-sm-6">
                           <label>Id de Cotización</label>
                            <input asp-for="QuotationId" class="form-control"  value="@Guid.NewGuid().ToString()" readonly />
                            <span asp-validation-for="QuotationId" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                           <label>Tipo de Cotización</label>
                            <input asp-for="Type" class="form-control" />
                            <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-sm-6">
                             <label>Descripción</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                            <label>Precio de Material Vario</label>
                            <input asp-for="MaterialAmount" class="form-control" />
                            <span asp-validation-for="MaterialAmount" class="text-danger"></span>
                    </div>
                 </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                            <label>Precio Material Mecsa</label>
                            <input asp-for="MecsaAmountMaterial" class="form-control" />
                            <span asp-validation-for="MecsaAmountMaterial" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                            <label>Precio Viaticos</label>
                            <input asp-for="ViaticsAmount" class="form-control" />
                            <span asp-validation-for="ViaticsAmount" class="text-danger"></span>
                    </div>
                 </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                            <label>Precio Imprevistos </label>
                            <input asp-for="UnexpectedAmount" class="form-control" />
                            <span asp-validation-for="UnexpectedAmount" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                           <label>Monto Por Kilometraje</label>
                           <input asp-for="KMAmount" class="form-control" />
                           <span asp-validation-for="KMAmount" class="text-danger"></span>
                    </div>
                 </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                           <label>Monto Total</label>
                            <input asp-for="TotalAmount" class="form-control" />
                            <span asp-validation-for="TotalAmount" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                         <label>Cantidad de Días de Trabajo</label>
                        <input asp-for="QuantityOfDays" class="form-control" />
                        <span asp-validation-for="QuantityOfDays" class="text-danger"></span>
                    </div>
                 </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Cantidad de Empleados </label>
                        <input asp-for="QuantityOfEmployees" class="form-control" />
                        <span asp-validation-for="QuantityOfEmployees" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label>Autor</label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Fecha de Creación</label>
                        <input asp-for="DateCreation" class="form-control" />
                        <span asp-validation-for="DateCreation" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label>Última Modificación</label>
                        <input asp-for="LastModification" class="form-control" />
                        <span asp-validation-for="LastModification" class="text-danger"></span>
                    </div>
                 </div>
                <input type="submit" value="Crear" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>





<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
